#dragdiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#dragdivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #00a8e8;
    color: #fff;
}




#nav {
    /* background-color: #00a8e8; */
    margin: -10px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 15px;
    height: 1.7em;
    font-size: 3vh;
}

#navElem {
    position: absolute;
    right: 0px;
    display: flex;
}

.roundedNav a {
    position: relative;

    text-decoration: none;
    color: #FFFFFF;
    height: inherit;
}

.roundedNav {
    border-radius: 30px;
    padding: 1vh;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
}

.roundedNav:hover {
    transition: all 0.7s ease;
    background-color: #1160a8;
}


#hiText {
    font-size: 4.9vh;
    margin: 60px;
    padding-top: 50px;
    font-family: "DM Sans", sans-serif;
    align-items: center;
}

#SE {
    display: flex;
    margin: 0px;
}

#extra {
    position: relative;
    left: 0em;
    font-family: "Permanent Marker", sans-serif;
    bottom: 0px;
}

#blurb {
    font-size: 3.4vh;
    padding: 30px;
    padding-left: 60px;
    padding-top: 0px;
    font-family: "DM Sans", sans-serif;
    color: #075773;
}

#contactMe {
    justify-self: center;
    margin-bottom: 3vh;
    padding-top: 2vh;
    display: block;
}

#contactMe a {
    border-radius: 30px;
    font-size: 5vh;
    background: none;
    background-color: #00a8e8;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 60px 20px 60px;
    font-family: "DM Sans", sans-serif;
}

#contactMe a:hover {
    transition: all 0.5s ease;
    background-color: #1160a8;
    font-size: 7vh;
}

.dm-sans-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}


body {
    margin: 10px;
    background-color: #FFFFFF;
    color: #fcfffc;
    font-family: "DM Sans", sans-serif;
    font-size: 3.4vh;
}

h1 {
    margin: 0px;
}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: #3ea5ce;
    z-index: -10;
}

#backgroundTri {
    position: absolute;
    left: 0px;
    top: -60vh;
    width: 0px;
    height: 0px;
    z-index: -9;
    border-left: 0px solid transparent;
    border-right: 85vw solid transparent;
    border-bottom: 160.1vh solid #339fcd;
    margin: 0px;
    margin-left: 0px;
}

#para {
    position: sticky;
    top: 0px;
    margin: -10px;
    z-index: -10;
}

#restOfPage {
    position: absolute;
    top: 100%;
    background-color: inherit;
    height: 10000px;
    margin-left: -10px;
}

#restOfPage p {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}