#nav {
    margin: -10px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 15px;
    height: 1.7em;
    font-size: calc(1.1vh + 1.2vw);
}

#navElem {
    position: absolute;
    right: 0px;
    display: flex;
}

.roundedNav a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    height: inherit;
}

.roundedNav {
    border-radius: 2rem;
    padding: 1vh;
    padding-left: calc(1.2rem + 1.4vw);
    padding-right: calc(1.2rem + 1.4vw);
    margin-top: 0px;
}

.roundedNav:hover {
    transition: all 0.7s ease;
    background-color: #1160a8;
}


#hiText {
    font-size: calc(2vh + 1.5vw);
    margin: 5vw;
    margin-top: 0px;
    padding-top: 1vh;
    margin-bottom: 0px;
    font-family: "DM Sans", sans-serif;
    align-items: center;
    overflow-wrap: anywhere;
}

#SE {
    display: flex;
    margin: 0px;
}

#extra {
    position: relative;
    left: 0em;
    font-family: "Permanent Marker", sans-serif;
    bottom: 0px;
}

#blurb {
    font-size: calc(1.4vh + 1vw);
    margin-left: 5vw;
    padding-top: calc(1.2vh + 0.8vw);
    padding-bottom: 1.5vh;
    font-family: "DM Sans", sans-serif;
    color: #075773;
}

#blurb p {
    margin: 0px;
}

#contactMe {
    justify-self: center;
    padding-bottom: calc(4vh + 1vw);
    padding-top: calc(4vh + 1vw);
    display: block;
}

#contactMe a {
    border-radius: 30px;
    font-size: calc(3vh + 1.3vw);
    background: none;
    background-color: #00a8e8;
    color: #FFFFFF;
    text-decoration: none;
    padding: calc(1vh + 1vw) calc(2.5rem + 2vw) calc(1vh + 1vw) calc(2.5rem + 2vw);
    font-family: "DM Sans", sans-serif;
}

#contactMe a:hover {
    transition: all 0.5s ease;
    background-color: #1160a8;
    font-size: calc(3.5vh + 1.8vw + 10px);
}

#expansion {
    height: calc(13.5vh + 5.8vw + 10px);
}

.dm-sans-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}


body {
    margin: 10px;
    background-color: #FFFFFF;
    color: #fcfffc;
    font-family: "DM Sans", sans-serif;
    font-size: 3.4vh;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px
}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: #3ea5ce;
    z-index: -10;
}

#backgroundTri {
    position: absolute;
    left: 0px;
    top: -60vh;
    width: 0px;
    height: 0px;
    z-index: -9;
    border-left: 0px solid transparent;
    border-right: 85vw solid transparent;
    border-bottom: 160.1vh solid #339fcd;
    margin: 0px;
    margin-left: 0px;
}

#para {
    position: sticky;
    top: 0px;
    margin: -10px;
    z-index: -10;
}

#restOfPage {
    position: relative;
    /* top: calc(100vh); */
    background-color: inherit;
    /* height: 10000px; */
    margin-left: -10px;
    margin-right: -10px;
}


#theGrey {
    background-color: #eeeeee;

}

#theGrey p {
    font-size: calc(1.4vh + 1vw);
    color: #676767;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 4vh;
    padding-bottom: 4vh;

}

#testemonials {
    position: relative;
    height: 500px;
    border-left: solid;
    border-width: 2px;
    border-color: black;
    color: black;
    padding-left: 2vw;

    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}

#backgroundTextTest {
    position: absolute;
    top: -8vh;
    font-size: calc(11vh + 10vw);
    width: 80%;
    right: calc(-5vw);
    opacity: 6%;
    overflow: hidden;
}

#backgroundTextTest p {
    overflow: hidden;
}

#backgroundTextTest.in-view {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        top: -6vh;
        opacity: 0%;
    }

    to {
        top: -8vh;
        opacity: 6%;
    }
}



#contacts {
    /* https://www.assetclass.com/ Do this for the contacts or maybe save it for teh projects*/
    /* https://www.ohpd.net/ Look at teh lets connect button*/
    position: relative;

    border-right: solid;
    border-width: 2px;
    border-color: black;

    height: 500px;
    color: black;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}

#backgroundTextContacts {
    position: absolute;
    top: -8vh;
    font-size: calc(11vh + 10vw);
    width: 100%;
    left: calc(-5vw);
    opacity: 6%;
    overflow: hidden;
}

#backgroundTextContacts p {
    overflow: hidden;
}

#backgroundTextContacts.in-view {
    animation: example 1s ease;
}

@keyframes fadeIn {
    from {
        top: -6vh;
        opacity: 0%;
    }

    to {
        top: -8vh;
        opacity: 6%;
    }
}