@keyframes fadeIn {
    from {
        top: 0vh;
        opacity: 0%;
    }

    to {
        top: -8vh;
        opacity: 6%;
    }
}

@keyframes fadeInForSkills {
    from {
        top: -3.5vh;
        opacity: 0%;
    }

    to {
        top: -11.5vh;
        opacity: 20%;
    }
}