#contacts {
    /* https://www.assetclass.com/ Do this for the contacts or maybe save it for teh projects*/
    /* https://www.ohpd.net/ Look at teh lets connect button*/
    position: relative;

    border-left: solid;
    border-width: 2px;
    border-color: black;

    height: 500px;
    color: black;

    padding-left: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}

#backgroundTextContacts {
    position: absolute;
    top: -8vh;
    font-size: calc(11vh + 10vw);
    right: calc(0px);
    opacity: 6%;
    overflow: hidden;
}

#backgroundTextContacts p {
    overflow: hidden;
    user-select: none;
}

#backgroundTextContacts.in-view {
    animation: fadeIn 1.8s ease;
}