#theGrey {
    background-color: #eeeeee;

}

#theGrey p {
    font-size: calc(1.4vh + 1vw);
    color: #676767;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 7vh;
    padding-bottom: 7vh;

}