#nav {
    position: relative;
    margin: -10px;
    margin-right: 5vw;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 15px;
    height: 1.7em;
    font-size: calc(1.1vh + 1.2vw);
}

#navElem {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
}

.roundedNav a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    height: inherit;
}

.roundedNav {
    border-radius: 2rem;
    padding: 1vh;
    padding-left: calc(1.2rem + 1.4vw);
    padding-right: calc(1.2rem + 1.4vw);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0px;
}

.roundedNav:hover {
    transition: all 0.7s ease;
    background-color: #1160a8;
}

#activeNav {
    border-color: #1160a8;
    border-width: 3px;
    border-style: solid;
}