#testemonials {
    position: relative;
    height: 500px;

    color: black;
    padding-left: 2vw;

    padding-left: 18vw;
    padding-right: 18vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#backgroundTextTest {
    position: absolute;
    top: -8vh;
    font-size: calc(11vh + 10vw);
    /* width: 80%; */
    right: 0px;
    opacity: 6%;
    overflow: hidden;
}

#backgroundTextTest p {
    overflow: hidden;
    user-select: none;
}

#backgroundTextTest.in-view {
    animation: fadeIn 1.8s ease;
}